<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Member Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <section class="w-100 section Stock_Section">
        <header class="d-flex justify-content-between">
            <h1>
                <font-awesome-icon icon="shopping-cart" />
                MemberList
            </h1>
        </header>
        <div id="memberlist">
            <!-- <div>
              <b-table striped hover :items="item"></b-table>
          </div> -->
            <b-container fluid>
                <!-- User Interface controls -->
                <b-row>
                    <!-- <b-col
                        lg="6"
                        class="my-1"
                    >
                        <b-form-group
                            label="Sort"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="sortBySelect"
                            class="mb-0 disp-none"
                        >
                            <b-input-group size="sm">

                                <template v-slot:first>
                                    <option value="">-- none --</option>
                                </template>
                                </b-form-select>

                            </b-input-group>
                        </b-form-group>
                    </b-col>

                    <b-col
                        lg="6"
                        class="my-1"
                    >
                        <b-form-group
                            label="Initial sort"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            label-for="initialSortSelect"
                            class="mb-0"
                        >
                            <b-form-select
                                v-model="sortDirection"
                                id="initialSortSelect"
                                size="sm"
                                :options="['asc', 'desc', 'last']"
                            ></b-form-select>
                        </b-form-group>
                    </b-col> -->

                    <b-col
                        lg="6"
                        class="my-1"
                    >
                        <b-form-group
                            label="Filter"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="xl"
                            label-for="filterInput"
                            class="mb-0"
                        >
                            <b-input-group size="sm">
                                <b-form-input
                                    v-model="filter"
                                    type="search"
                                    id="filterInput"
                                    placeholder="Type to Search"
                                ></b-form-input>
                                <b-input-group-append>
                                    <b-button
                                        :disabled="!filter"
                                        @click="filter = ''"
                                    >Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>

                    <b-col
                        lg="6"
                        class="my-1"
                    >
                        <!-- <b-form-group
                            label="Filter On"
                            label-cols-sm="3"
                            label-align-sm="right"
                            label-size="sm"
                            description="Leave all unchecked to filter on all data"
                            class="mb-0"
                        >
                            <b-form-checkbox-group
                                v-model="filterOn"
                                class="mt-1"
                            >
                                <b-form-checkbox value="name">Name</b-form-checkbox>
                                <b-form-checkbox value="age">Age</b-form-checkbox>

                            </b-form-checkbox-group>
                        </b-form-group> -->
                    </b-col>

                    <b-col
                        sm="5"
                        md="6"
                        class="my-1"
                    >
                        <b-form-group
                            label="Per page"
                            label-cols-sm="6"
                            label-cols-md="4"
                            label-cols-lg="3"
                            label-align-sm="right"
                            label-size="m"
                            label-for="perPageSelect"
                            class="mb-0"
                        >
                            <b-form-select
                                v-model="perPage"
                                id="perPageSelect"
                                size="sm"
                                :options="pageOptions"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>


                </b-row>

                <!-- Main table element -->
                <b-table
                    class="col-10 mx-auto"
                    show-empty
                    small
                    stacked="md"
                    :items="item"
                    :fields="fields"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    :filterIncludedFields="filterOn"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                    @filtered="onFiltered"
                >
                    <template v-slot:cell(name)="row">
                        {{row.item.name}}
                    </template>

                    <template v-slot:cell(actions)="row">
                        <b-button
                            size="sm"
                            @click="info(row.item, row.index, $event.target)"
                            class="mr-1 btn-danger"
                        >
                            Modify
                        </b-button>
                        <b-button
                            size="sm"
                            @click="row.toggleDetails"
                            class="btn-danger"
                        >
                            {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
                        </b-button>
                    </template>

                    <template v-slot:row-details="row">
                        <b-card>
                            <ul>
                                <li
                                    v-for="(value, key) in row.item"
                                    :key="key"
                                >{{ key }}: {{ value }}</li>
                            </ul>
                        </b-card>
                    </template>
                    <template v-slot:cell(status)="row">
                        <select @change="modifystatus">
                            <option>封鎖</option>
                            <option>普通會員</option>
                            <option>VIP</option>
                            <option
                                selected
                                disabled
                                hidden
                            > {{row.item.status}}</option>
                        </select>

                    </template>
                </b-table>
                <b-col
                    sm="7"
                    md="6"
                    class="my-1  mx-auto"
                >
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                    ></b-pagination>
                </b-col>

                <!-- Info modal -->
                <b-modal
                    :id="infoModal.id"
                    :title="infoModal.title"
                    @hide="resetInfoModal"
                    @ok="modifyInfo"
                >
                    <!-- <div v-for="i in infoModal.content">
                        <p>1</p>
                    </div> -->
                    <div id="modal">
                        <h3 class="w-100">ID:{{infoModal.content.id}}</h3>
                        <article class="">

                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text"
                                        id="inputGroup-sizing-lg"
                                    >Name:</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg"
                                    :Value="infoModal.content.name"
                                    v-model="infoModal.content.name"
                                >
                            </div>

                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text"
                                        id="inputGroup-sizing-lg"
                                    >Mail:</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg"
                                    :Value="infoModal.content.mail"
                                    v-model="infoModal.content.mail"
                                >
                            </div>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text"
                                        id="inputGroup-sizing-lg"
                                    >PostCode:</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg"
                                    :Value="infoModal.content.postCode"
                                    v-model="infoModal.content.postCode"
                                >
                            </div>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text"
                                        id="inputGroup-sizing-lg"
                                    >Address:</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg"
                                    :Value="infoModal.content.address"
                                    v-model="infoModal.content.address"
                                >
                            </div>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text"
                                        id="inputGroup-sizing-lg"
                                    >Phone:</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-m"
                                    :Value="infoModal.content.phone"
                                    v-model="infoModal.content.phone"
                                >
                            </div>

                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text"
                                        id="inputGroup-sizing-m"
                                    >MemberLevel:</span>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg"
                                    :Value="infoModal.content.memberlevel"
                                    v-model="infoModal.content.memberlevel"
                                >
                            </div>

                        </article>
                    </div>


                </b-modal>

            </b-container>
        </div>
    </section>





    <!-- /.row -->
</div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>