<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Member Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <section class="w-100 section Stock_Section">
        <header class="d-flex justify-content-between">
            <h1>
                <font-awesome-icon icon="shopping-cart" />
                MemberList
            </h1>
        </header>
        <div id="memberlist">
            <!-- <div>
              <b-table striped hover :items="item"></b-table>
          </div> -->
            <main class="row">
                <!-- User Interface controls -->
                <section class="config col-12 col-md-10 mx-auto">
                    <!-- 篩選 -->
                    <div class="my-1">

                    </div>
                    <div class="row justify-content-between">
                        <!-- 控制顯示數量 -->
                        <b-col class="col-12 col-md-6 my-1">
                            <b-form-group
                                label="Per page"
                                label-cols-sm="6"
                                label-cols-md="4"
                                label-cols-lg="3"
                                label-align-sm="left"
                                label-size="sm"
                                label-for="perPageSelect"
                                class="mb-0"
                            >
                                <b-form-select
                                    v-model="perPage"
                                    id="perPageSelect"
                                    size="sm"
                                    :options="pageOptions"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                        <!-- 搜尋 -->
                        <b-col class="col-12 col-md-6 my-1">
                            <b-form-group
                                label="Filter"
                                label-cols-sm="3"
                                label-align-sm="right"
                                label-size="sm"
                                label-for="filterInput"
                                class="mb-0"
                            >
                                <b-input-group size="sm">
                                    <b-form-input
                                        v-model="filter"
                                        type="search"
                                        id="filterInput"
                                        placeholder="Type to Search"
                                    ></b-form-input>
                                    <b-input-group-append>
                                        <b-button
                                            :disabled="!filter"
                                            @click="filter = ''"
                                        >Clear</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </div>
                </section>

                <!-- Main table element -->
                <b-table
                    id="ProductTable"
                    ref="table"
                    selectable
                    responsive="true"
                    :select-mode="selectMode"
                    @row-selected="onRowSelected"
                    @row-clicked="item=>$set(item, '_showDetails', !item._showDetails)"
                    show-empty
                    small
                    stacked="md"
                    :items="item"
                    :fields="fields"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    :filterIncludedFields="filterOn"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                    @filtered="onFiltered"
                    hover
                    bordered
                    class="table"
                >
                    <template v-slot:cell(name)="row">
                        {{row.item.name}}
                    </template>

                    <template v-slot:cell(actions)="row">
                        <b-button
                            size="sm"
                            @click="info(row.item, row.index, $event.target)"
                            class="mr-1 "
                        >
                            <i
                                class="fa fa-edit"
                                aria-hidden="true"
                            ></i>
                        </b-button>
                        <b-button
                            size="sm"
                            @click="row.toggleDetails"
                            class=""
                        >
                            <i
                                class="fa fa-eye"
                                aria-hidden="true"
                            ></i>
                        </b-button>
                    </template>

                    <template v-slot:row-details="row">
                        <!-- <b-card>
                            <ul>
                                <li
                                    v-for="(value, key) in row.item"
                                    :key="key"
                                >{{ key }}: {{ value }}</li>
                            </ul>
                        </b-card> -->
                        <b-input-group
                            class="mt-3"
                            v-for="(value,key) in row.item"
                        >
                            <label
                                class="text-uppercase col-sm-2 col-form-label bg-light border-right border-bottom text-truncate"
                            >{{key}}</label>
                            <div class="col-sm-10 border-bottom px-2">
                                <div class="form-control border-0"> {{value}}</div>
                            </div>
                        </b-input-group>
                    </template>
                    <template v-slot:cell(status)="row">
                        <select @change="modifystatus">
                            <option>封鎖</option>
                            <option>普通會員</option>
                            <option>VIP</option>
                            <option
                                selected
                                disabled
                                hidden
                            > {{row.item.status}}</option>
                        </select>

                    </template>
                </b-table>
                <b-col
                    sm="12"
                    md="12"
                    class=" mx-auto"
                >
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        :align="fill"
                        size="md"
                        class="mx-auto"
                    ></b-pagination>
                </b-col>


            </main>
        </div>
    </section>


    <!-- Info modal -->
    <b-modal
        :id="infoModal.id"
        size="lg"
        :title="infoModal.title"
        @hide="resetInfoModal"
        @ok="modifyInfo"
    >
        <!-- <div v-for="i in infoModal.content">
                        <p>1</p>
                    </div> -->
        <main
            class="mb-3"
            id="Purchase_form"
        >
            <h3 class="w-100">Member ID:{{infoModal.content.id}}</h3>
            <article class="">

                <div class="input-group input-group-lg">

                    <label
                        class="text-uppercase col-sm-2 col-form-label bg-light border-right border-bottom text-truncate"
                        id="inputGroup-sizing-lg"
                    >Name:</label>

                    <div class="col-sm-10 border-bottom px-2">
                        <input
                            type="text"
                            class="form-control border-0"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg"
                            :Value="infoModal.content.name"
                            v-model="infoModal.content.name"
                        >
                    </div>

                </div>

                <div class="input-group input-group-lg">

                    <label
                        class="text-uppercase col-sm-2 col-form-label bg-light border-right border-bottom text-truncate"
                        id="inputGroup-sizing-lg"
                    >Mail:</label>

                    <div class="col-sm-10 border-bottom px-2">
                        <input
                            type="text"
                            class="form-control border-0"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg"
                            :Value="infoModal.content.mail"
                            v-model="infoModal.content.mail"
                        >
                    </div>

                </div>
                <div class="input-group input-group-lg">

                    <label
                        class="text-uppercase col-sm-2 col-form-label bg-light border-right border-bottom text-truncate"
                        id="inputGroup-sizing-lg"
                    >PostCode:</label>

                    <div class="col-sm-10 border-bottom px-2">
                        <input
                            type="text"
                            class="form-control border-0"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg"
                            :Value="infoModal.content.postCode"
                            v-model="infoModal.content.postCode"
                        >
                    </div>

                </div>
                <div class="input-group input-group-lg">

                    <label
                        class="text-uppercase col-sm-2 col-form-label bg-light border-right border-bottom text-truncate"
                        id="inputGroup-sizing-lg"
                    >Address:</label>

                    <div class="col-sm-10 border-bottom px-2">
                        <input
                            type="text"
                            class="form-control border-0"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg"
                            :Value="infoModal.content.address"
                            v-model="infoModal.content.address"
                        >
                    </div>

                </div>
                <div class="input-group input-group-lg">

                    <label
                        class="text-uppercase col-sm-2 col-form-label bg-light border-right border-bottom text-truncate"
                        id="inputGroup-sizing-lg"
                    >Phone:</label>

                    <div class="col-sm-10 border-bottom px-2">
                        <input
                            type="text"
                            class="form-control border-0"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg"
                            :Value="infoModal.content.phone"
                            v-model="infoModal.content.phone"
                        >
                    </div>

                </div>

                <div class="input-group input-group-lg">

                    <label
                        class="text-uppercase col-sm-2 col-form-label bg-light border-right border-bottom text-truncate"
                        id="inputGroup-sizing-lg"
                    >MemberLevel:</label>

                    <div class="col-sm-10 border-bottom px-2">
                        <input
                            type="text"
                            class="form-control border-0"
                            aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg"
                            :Value="infoModal.content.memberlevel"
                            v-model="infoModal.content.memberlevel"
                        >
                    </div>

                </div>

            </article>
        </main>


    </b-modal>



    <!-- /.row -->
</div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>